@charset 'utf-8';

* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    color: black    
}
#wrap {
    width: 1200px;    
    background-color: aquamarine;
}
#top {
    width: 1200px;
    height: 960px;
}
#header {
    position: absolute;
    width: 1200px;
    height: 100px;
    background-color: aqua;
}
.nav {
    position: absolute;
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: 100px;
}
.nav .logo {
    /* width: 200px;     */
}
.nav .logo a {    
    /* width: 200px;
    height: 100px;     */
}
.nav .logo a img {
    margin: 20px;
    width: 60px;
    height: 60px;
}
.nav .nav_li {
    
}
.nav .sign_iu {
       
}
#container {    
    width: 1200px;
    height: 960px;
    background-color: cornflowerblue;
}
#container .main_img img {
    width: 1200px;
    height: 700px;
}
